---
name: Release tag

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      jar-path: ${{ github.workspace }}/target/dnkmod-hytale-*.jar

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: jar-artifact
        path: target/dnkmod-hytale-*.jar

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: jar-artifact
        path: target

    - name: Release tag
      run: gh release create --notes "$(git tag -l --format='%(contents)' ${{ github.ref_name }})" --generate-notes ${{ github.ref_name }} target/dnkmod-hytale-*.jar --repo Danikileitor/DNKmod-Hytale
      env:
        GH_TOKEN: ${{ github.token }}